  form {  
    border: 3px solid #f1f1f1;
    margin: auto;
    text-align: center;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
    transform: scale(1.2);
    transition: 0.8s;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  .container {
    padding: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    color: #94c188;
  }

  .login{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  html { 
    background: radial-gradient(circle, rgba(255,255,255,1) 57%, rgba(148,193,136,1) 100%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }